body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.fondo {
    background-image: url(../imagenes/fondoNetflix.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.logo-superior-izquierda {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.contenedor-inicio {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

.grupo-input {
    margin-bottom: 20px;
    position: relative;
}

.grupo-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #333;
    color: white;
}

.grupo-input input::placeholder {
    color: #b3b3b3;
}

.mensaje-error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.boton {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.boton:hover {
    background-color: #f6121d;
}

.opciones {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.opciones a {
    color: #b3b3b3;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
}

.registro {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.registro a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.registro a:hover {
    text-decoration: underline;
}